@import "../../mixins.scss";

.carousel {
  margin-bottom: 50px;

  .contentWrapper {
    position: relative;

    .title {
      font-size: 24px;
      font-weight: normal;
      color: white;
      margin-bottom: 20px;
    }
    .arrow {
      position: absolute;
      font-size: 30px;
      background: white;
      color: black;
      top: 38%;
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 0.8;
      z-index: 1;
      border-radius: 50%;
      display: none;
      @include md {
        display: block;
      }
      &:hover {
        opacity: 1;
      }
    }
    .carouselLeftNav {
      left: 30px;
    }
    .carouselRightNav {
      right: 30px;
    }
  }

  .carouselTitle {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    font-weight: normal;
  }

  .loadingSkeleton {
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    margin-right: -20px;
    margin-left: -20px;
    padding: 0 20px;
    @include md {
      width: 100%;
      gap: 20px;
      overflow: hidden;
      margin: 0;
      padding: 0;
    }
    .skeletonItem {
      width: 125px;
      @include md {
        width: calc(25% - 15px);
      }
      @include lg {
        width: calc(20% - 16px);
      }
      flex-shrink: 0;
      .posterBlock {
        border-radius: 12px;
        width: 100%;
        aspect-ratio: 1 / 1.5;
        margin-bottom: 30px;
      }
      .textBlock {
        display: flex;
        flex-direction: column;
        .title {
          width: 100%;
          height: 20px;
          margin-bottom: 10px;
        }
        .date {
          width: 75%;
          height: 20px;
        }
      }
    }
  }
}
