@import "../../mixins.scss";
.pageNotFound {
  width: 100vw;
  height: calc(100vh - 182px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
    height: calc(100vh - 196px);
  }

  div {
    color: white;
    font-size: 32px;
  }
}
